<div class="container-fluid">
  <div class="container">
    <div class="mt-4">
      <alert type="success">
        <strong>Well done!</strong> You successfully read this important alert message.
      </alert>
      <alert type="info">
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
      </alert>
      <alert type="warning">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </alert>
      <alert type="danger">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </alert>


      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          Button dropdown <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>