<div class="container">
  <div class="row justify-content-center">
    <form class="form-horizontal" (submit)="submitRequestTest()">
      <div class="row">
        <div class="col-auto">
          <h2>Test request HttpClient</h2>
          <hr>
        </div>
        <div class="col ">
          <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Submit</button>
        </div>
      </div>
    </form>
    <div class="row col-12 justify-content-center">
      <div class="mt-4 col-auto"> {{successMessage}}</div>
    </div>
    <div class="row justify-content-center">
      <div class="mt-4 col-auto" id="divError" [ngClass]="{ 'd-none' : !e}">
        <alert type="danger">
          {{errorMessage}}
        </alert>
      </div>
    </div>
  </div>
</div>
